.archivo-black-regular {
  font-family: "Archivo Black", sans-serif;
  font-weight: 400;
  font-style: normal;
  color: #7D5A50;
  text-align: center;
  font-size: 50px;
}
.inconsolata-regular {
  font-family: "Inconsolata", monospace;
  font-optical-sizing: auto;
  font-weight: 400;
  color: #7D5A50;
  font-style: normal;
  font-variation-settings:
    "width" 100;
    text-align: center;
}
.background {
    background-color: #FCDEC0;
    margin-top: 160px;
    margin-bottom: auto;
}
.subtitle {
    padding-block: 10px;
    font-size: 25px;
    margin-top: -20px;
    margin-bottom: 5px;
    font-weight: 300;
}
.who-am-i-title {
    font-weight: 400;
    font-size: 30px;
    margin-bottom: 5px;
}
.find-me-at-title {
    font-weight: 400;
    font-size: 30px;
    margin-bottom: 5px;
}

